<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanafn.openapi.portal.views.repository.ApisRepository">
	<sql id="paging">
		LIMIT #{pageOffset} , #{pageSize}
	</sql>

	<select id="selectApisAll" resultType="apiCtgr">
		SELECT *
			, IFNULL((SELECT USER_NM FROM PORTAL_HFN_USER_INFO WHERE USER_KEY = T1.REG_USER),
				 IFNULL((SELECT USEORG_NM FROM PORTAL_USEORG_INFO WHERE USER_KEY = T1.REG_USER),
						(SELECT USEORG_NM FROM PORTAL_USEORG_INFO WHERE USEORG_ID = T1.REG_USER))) AS REG_USER
			, IFNULL((SELECT USER_NM FROM PORTAL_HFN_USER_INFO WHERE USER_KEY = T1.MOD_USER),
					 IFNULL((SELECT USEORG_NM FROM PORTAL_USEORG_INFO WHERE USER_KEY = T1.MOD_USER),
							(SELECT USEORG_NM FROM PORTAL_USEORG_INFO WHERE USEORG_ID = T1.MOD_USER))) AS MOD_USER
		FROM PORTAL_API_CTGR_INFO T1
		WHERE CTGR_CTNT = 'APIS전용. 수정하지마세요'
	</select>

	<select id="selectApis" parameterType="com.hanafn.openapi.portal.views.dto.ApisRequest" resultType="apiCtgr">
		SELECT T1.CTGR_CD, T1.CTGR_NM, T1.CTGR_CTNT, T1.CTGR_STAT_CD, T1.REG_DTTM
		     , IFNULL((SELECT USER_NM FROM PORTAL_HFN_USER_INFO WHERE USER_KEY = T1.REG_USER),
					  IFNULL((SELECT USEORG_NM FROM PORTAL_USEORG_INFO WHERE USER_KEY = T1.REG_USER),
							 (SELECT USEORG_NM FROM PORTAL_USEORG_INFO WHERE USEORG_ID = T1.REG_USER))) AS REG_USER
		     , T1.MOD_DTTM
		     , IFNULL((SELECT USER_NM FROM PORTAL_HFN_USER_INFO WHERE USER_KEY = T1.MOD_USER),
					  IFNULL((SELECT USEORG_NM FROM PORTAL_USEORG_INFO WHERE USER_KEY = T1.MOD_USER),
							 (SELECT USEORG_NM FROM PORTAL_USEORG_INFO WHERE USEORG_ID = T1.MOD_USER))) AS MOD_USER
		FROM PORTAL_API_CTGR_INFO T1
		WHERE T1.CTGR_CTNT = 'APIS전용. 수정하지마세요'
		AND T1.CTGR_CD = #{ctgrCd}
	</select>

	<select id="selectApisList" parameterType="com.hanafn.openapi.portal.views.dto.ApisRequest" resultType="api">
		SELECT T1.*
			, IFNULL((SELECT USER_NM FROM PORTAL_HFN_USER_INFO WHERE USER_KEY = T1.REG_USER),
					IFNULL((SELECT USEORG_NM FROM PORTAL_USEORG_INFO WHERE USER_KEY = T1.REG_USER),
						   (SELECT USEORG_NM FROM PORTAL_USEORG_INFO WHERE USEORG_ID = T1.REG_USER))) AS REG_USER
		FROM PORTAL_API_INFO T1
			JOIN PORTAL_API_CTGR_INFO T2
			ON T1.CTGR_CD = T2.CTGR_CD
		WHERE T2.CTGR_CTNT = 'APIS전용. 수정하지마세요'
		AND T2.CTGR_CD = #{ctgrCd}
		AND T1.API_STAT_CD = 'OK'
	</select>
</mapper>
